.vscode/
venv/
pygame_tutorial.py
ideias.md.backup
Metallica - One/
Guitar Hero III - Legends Of Rock.rar
12 Clusterfucks of Christmas by Schmutz06/
12 Clusterfucks of Christmas by Schmutz06.zip
Metallica - Sad But True/
Guns N_ Roses - You Could Be Mine/
RATM - Bulls On Parade/
